<div class="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2 class="header">{{title}}</h2>
  {{#if body}}
      {{view view.body}}
  {{else}}
      {{yield}}
  {{/if}}
</div>
